<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Marka</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let brand of brands">
            <td>{{brand.brandId}}</td>
            <td>{{brand.brandName}}</td>
            <td><button type="button" class="btn btn-outline-danger" (click)="delete(brand)">Sil</button></td>
            <td><button type="button" class="btn btn-outline-success" routerLink="/brands/brandupdate/{{brand.brandId}}">Güncelle</button></td>
        </tr>
    </tbody>
</table>
