<div class="row">
  <div class="col-md-6">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="height: 521px;">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{imgUrl}}{{carImages[0].imagePath}}" class="d-block w-100" alt="Image">
        </div>
        <!-- <div class="carousel-item">
        <img src="{{imgUrl}}{{carImages[1].imagePath}}" class="d-block w-100" alt="...">
      </div> -->
        <!-- <div class="carousel-item">
        <img src="{{imgUrl}}{{carImages[0].imagePath}}" class="d-block w-100" alt="...">
      </div> -->
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" >
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> ID: {{car.carId}}</li>
          <li class="list-group-item"> Marka: {{car.brandName}}</li>
          <li class="list-group-item"> Renk: {{car.colorName}}</li>
          <li class="list-group-item"> Model Yılı: {{car.carModelYear}}</li>
          <li class="list-group-item">Günlük Ücret: {{car.carDailyPrice}} TL</li>
          <li class="list-group-item"> Açıklama: {{car.carDescription}}</li>
        </ul>

      </div>
      <div class="card-footer">

          <div class="mb-3">
            <div class="form-group">
              <label>Teslim Alma Tarihi</label>
            <input type="date" class="form-control" [(ngModel)]="rentDate"  id="rentDate" />
            </div>
          </div>
          <div class="mb-3">
            <div class="form-group">
              <label>Teslim Etme Tarihi</label>
            <input type="date" class="form-control" [(ngModel)]="returnDate"  id="returnDate" />
            </div>
          </div>
          <div class="mb-3">
              <div class="form-group">
                <label>Kart Numarası</label>
                  <input type="text"  id="cardNumber" [(ngModel)]="cardNumber" class="form-control" placeholder="Kart Numarası"/>
              </div>
          </div>
          <div class="mb-3">
            <div class="form-group">
              <label>CVV</label>
                <input type="number"  id="cVV" [(ngModel)]="cVV" class="form-control" placeholder="CVV"/>
            </div>
        </div>

        
        <div class="mb-3">
          <button type="button" class="btn btn-success" style="height: 55px; width: 120px;" (click)="rentCar()"
            >Kirala</button>
        </div>



      </div>
    </div>
  </div>
</div>