<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Marka</th>
            <th>Müşteri Ad-Soyad</th>
            <th>Kiralama Tarihi</th>
            <th>Teslim Tarihi</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rent of rentDtos">
            <td>{{rent.rentId}}</td>
            <td>{{rent.carBrand}}</td>
            <td>{{rent.customer}}</td>
            <td>{{rent.rentDate}}</td>
            <td>{{rent.returnDate}}</td>
        </tr>
    </tbody>
</table>
