<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <button type="button" class="btn btn-info" routerLink="colors/colorlist">Renk Listesi</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <button type="button" class="btn btn-dark" routerLink="brands/brandlist">Marka Listesi</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <button type="button" class="btn btn-secondary" routerLink="cars/carlist">Araba Listesi</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <button type="button" class="btn btn-success" routerLink="colors/coloradd">Renk Ekle</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <button type="button" class="btn btn-danger" routerLink="brands/brandadd">Marka Ekle</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <button type="button" class="btn btn-warning" routerLink="cars/caradd">Araba Ekle</button>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <app-brand></app-brand>
            </div>
            <div class="col-md-6">
                <app-color></app-color>
            </div>
        </div><br>
        <app-filter></app-filter>
    </div>
    <div class="col-md-9">
        <router-outlet></router-outlet>
    </div>
</div>